body
{
 background-color:#FFD39B;
 color:#333;
 width:90%;
 font-family: 'Rubik', sans-serif;
 font-weight: bold;
 margin:0 auto;
}
.header{
  width:90%;
  margin:auto;
  height:120px;
  line-height:120px;
  background:#417aa8;
  color:#fff;
}




